@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --color-offwhite: #F7F2E8;
    --color-headings: #3C0E0E;
    --color-text1: #0D0D0D;
    --color-text2: #282828;
    --color-text3: #1A1A1A;
    --color-text4: #222222;
    --color-brand1: #431B1B;
    --color-brand2: #4D1D1D;
    --color-pink1: #EB8E8E;
    --color-pink2: #F9C4C4;
}

body{
    background-color: var(--color-offwhite);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 220px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    & nav{
        display: flex;
        align-items: center;

        & h1{
            font-size: 24px;
            font-weight: 500;
            margin-right: 50px;
        }

    }
    & ul{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 40px;
        
        & a{
            text-decoration: none;
            font-size: 20px;
            color: var(--color-headings);
            position: relative;

            &::after{
                content: "";
                width: 0%;
                height: 5px;
                border-radius: 3px;
                background-color: var(--color-headings);
                position: absolute;
                top: 100%;
                right: 0%;
                transition-duration: 200ms;
            }
            &.ativo::after, &:hover::after{
                width: 100%;
                left: 0%;
            }

            &.btn{
                line-height: 48px;
                padding: 0 32px;
                background-color: var(--color-brand1);
                color: var(--color-offwhite);
                border-radius: 24px;
                display: block;
                transition-duration: 200ms;
                &::after{
                    display: none;
                }
                &:hover{
                    background-color: #EB8E8E;
                    color: var(--color-brand1);
                }
            }
        }
    }
}

.banner{
    padding: 0 200px 0 260px;
    display: flex;
    align-items: flex-end;

    & > div{

        & h3{
            font-size: 24px;
            color: var(--color-headings);
        }

        & h1{
            font-size: 80px;
            color: var(--color-headings);
            line-height: 104%;
        }

        & p{
            width: 350px;
            color: var(--color-headings);
            line-height: 157%;
            margin-top: 20px;
            margin-bottom: 60px;
        }
    }

}
